    </main>

    <footer class="custom-footer bg-darkblue mt-auto">
      <div class="container">
        <span class="footer-text text-white">
          Created by Julien Dubois - Code available at <a href="https://github.com/jdubois/jdubois-langchain4j-demo" target="_blank" class="text-white">https://github.com/jdubois/jdubois-langchain4j-demo</a>
        </span>
      </div>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>

