  <nav class="navbar navbar-expand-lg navbar-dark bg-darkblue">      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                    <a class="nav-link" href="/">Home page</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Basic demos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/1">Demo 1: image generation</a></li>
                  <li><a class="dropdown-item" href="/2">Demo 2: simple question</a></li>
                  <li><a class="dropdown-item" href="/3">Demo 3: reasoning</a></li>
                  <li><a class="dropdown-item" href="/4">Demo 4: advanced question</a></li>
                  <li><a class="dropdown-item" href="/5">Demo 5: A question without memory</a></li>
                  <li><a class="dropdown-item" href="/6">Demo 6: A question with memory</a></li>
              </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      RAG demos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/7">Demo 7: Simple data ingestion</a></li>
                      <li><a class="dropdown-item" href="/8">Demo 8: Querying the vector database</a></li>
                      <li><a class="dropdown-item" href="/9">Demo 9: Advanced data ingestion</a></li>
                      <li><a class="dropdown-item" href="/10">Demo 10: Retrieval-Augmented Generation (RAG)</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Structured Outputs demos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/11">Demo 11: Structured Outputs</a></li>
                      <li><a class="dropdown-item" href="/12">Demo 12: Function calling</a></li>
                      <li><a class="dropdown-item" href="/13">Demo 13: Multiple tools and structured outputs</a></li>
                      <li><a class="dropdown-item" href="/14">Demo 14: Using an MCP Server</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Agentic demos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/15">Demo 15: Agentic AI with 4 agents working together</a></li>
                  </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="flex-fill">

