<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LangChain4j demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-darkblue">      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                List of demos
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/">Home page</a></li>
                  <li><a class="dropdown-item" href="/1">Demo 1: simple configuration</a></li>
                  <li><a class="dropdown-item" href="/2">Demo 2: Structured Outputs</a></li>
                  <li><a class="dropdown-item" href="/3">Demo 3: Function calling</a></li>
                  <li><a class="dropdown-item" href="/15">Demo 4: Using an MCP Server</a></li>
                  <li><a class="dropdown-item" href="/16">Demo 5: Agentic AI with 4 agents working together</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5">
{{^demo}}
    <h1>Welcome to the LangChain4j demos!</h1>
<p>
    This is our main page, use the navigation bar above to access the demos.
</p>
{{/demo}}
{{#demo}}
        <h1>This is demo {{demo}}</h1>

        <div class="row">
            <div class="col-12">
                <h3>Question</h3>
                <p>{{question}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Answer</h3>
                <p>{{answer}}</p>
            </div>
        </div>
{{/demo}}
      </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="main.js"></script>
  </body>
</html>
