{{> partials/header}}
{{> partials/nav}}
    <div class="container my-5">
{{^demo}}
    <h1>Welcome to the LangChain4j demos!</h1>
<p>
    This is our main page, use the navigation bar above to access the demos.
</p>
{{/demo}}
{{#demo}}
        <h1>This is demo {{demo}}</h1>

        <div class="row">
            <div class="col-12">
                <h3>Question</h3>
                <p>{{question}}</p>
            </div>
        </div>
    {{#warning}}
        <div class="row">
            <div class="col-12">
                <h3>Warning</h3>
                <p>{{warning}}</p>
            </div>
        </div>
    {{/warning}}
        <div class="row">
            <div class="col-12">
                <h3>Answer</h3>
                <div id="answer-content" data-answer="{{answer}}"></div>
            </div>
        </div>
  {{#image}}
         <div class="row">
           <div class="col-12">
               <img src="data:image/png;base64,{{image}}" alt="Generated image" class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
          </div>
  {{/image}}
{{/demo}}
      </div>
{{> partials/footer}}
