{{> partials/header}}
{{> partials/nav}}
    <div class="container my-5">
        <h1>An error has occured</h1>
        <i>You probably have a misconfiguration, please check the logs</i>
      </div>
{{> partials/footer}}
