{{> partials/header}}
{{> partials/nav}}
    <div class="container my-5">
        <h1>Welcome to the LangChain4j demos!</h1>
        <p>
            <i>Use the navigation bar above to access the demos.</i>
        </p>
        <h2>Configuration</h2>

        {{#warning}}
        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:" style="vertical-align: text-bottom;">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <strong>Warning!</strong> {{{warning}}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/warning}}

        <div class="table-responsive mt-4">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" style="width: 40%;">Configuration</th>
                        <th scope="col" style="width: 60%;">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">OPENAI_BASE_URL</th>
                        <td>{{openaiBaseUrl}}</td>
                    </tr>
                    <tr>
                        <th scope="row">OPENAI_API_KEY</th>
                        <td>{{openaiApiKeyMasked}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Chat Model name</th>
                        <td>{{chatModelName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Image Model name</th>
                        <td>{{imageModelName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Embedding Model name</th>
                        <td>{{embeddingModelName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Vector store</th>
                        <td>{{vectorStore}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
{{> partials/footer}}
